:root {
  --border-color: #cacaca;
  --background-color: #282A36;
  --background-plaid-color: #2F323D;
  --sidemenu-width: 235px;
}

html, body {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

button {
  cursor: pointer;
}

.drawflow-node-list {
  display: inline-block;
  overflow: auto;
  width: var(--sidemenu-width);
  height: 100%;
  border-right: 1px solid var(--border-color);
}

.drawflow-node-list-search {
  height: 30px;
}

.drawflow-node-list-category {
  position: absolute;
  margin-top: -30px;
  line-height: 20px;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid lightcoral;
}

.drawflow-node-list-wrap {
  overflow: scroll;
  height: 100%;
}

.drawflow-node-list-flex {
  height: calc(100% - 30px);
}

.drawflow-node-list-flex > .drawflow-node-list-category-wrap {
  height: 50%;
  border-bottom: 1px solid black;
  padding-top: 30px;
}

.drawflow-container {
  display: inline-block;
  width: calc(100% - var(--sidemenu-width));
  height: 100%;
}

.drawflow-wrapper {
  height: 100%;
  display: flex;
}

.drawflow-main {
  width: 100%;
}

.drawflow-main #drawflow .drawflow .inputs .input,
.drawflow-main #drawflow .drawflow .outputs .output {
  height: 15px;
  width: 15px;
  border: 2px solid var(--border-color);
}

.drawflow-main #drawflow .drawflow .inputs .input:hover,
.drawflow-main #drawflow .drawflow .outputs .output:hover {
  background: #4ea9ff;
}

.drawflow-main #drawflow .drawflow .inputs {
  position: absolute;
  left: -8px;
  background-color: #777;
}

.drawflow-main #drawflow .drawflow .outputs {
  position: absolute;
  right: -8px;
  background-color: #777;
}

.drawflow-main #drawflow .drawflow path:hover {
  stroke-width: 6px;
  stroke: purple;
}

.drawflow-main #drawflow .drawflow .select,
.drawflow-main #drawflow .drawflow path.select:hover {
  stroke-width: 7px;
  stroke: red;
}

#drawflow {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--background-color);
  background-size: 25px 25px;
  background-image:
    linear-gradient(to right, var(--background-plaid-color) 1px, transparent 1px),
    linear-gradient(to bottom, var(--background-plaid-color) 1px, transparent 1px);
  outline:none;
}

.drawflow {
  width: 100%;
  height: 100%;
  position: relative;
  user-select: none;
}

.drawflow .drawflow-node-block-default.select {
  -webkit-box-shadow: 0 2px 15px 2px var(--border-color);
  box-shadow: 0 2px 15px 2px var(--border-color);
  border: 2px solid blue;
  z-index: 30;
}

.drawflow .point.select {
  r: 7;
  fill: red;
  z-index: 30;
}

.drawflow .parent-node {
  position: relative;

}

.drawflow svg {
  z-index: 10;
  position: absolute;
  overflow: visible !important;
}
.drawflow .drawflow-connection {
  position: absolute;
  transform: translate(9999px, 9999px);
}
.drawflow .drawflow-connection .main-path {
  fill: none;
  stroke-width: 5px;
  stroke: steelblue;
  transform: translate(-9999px, -9999px);
}
.drawflow .drawflow-connection .main-path:hover {
  stroke: #1266ab;
  cursor: pointer;
}

.drawflow .drawflow-connection .main-path.selected {
  stroke: #43b993;
}

.drawflow .drawflow-connection .point {
  stroke: black;
  stroke-width: 2;
  fill: white;
  transform: translate(-9999px, -9999px);
}

.drawflow .drawflow-connection .point.selected, .drawflow .drawflow-connection .point:hover {
  fill: #1266ab;
}

.drawflow .input.select,
.drawflow .output.select {
  background-color: yellowgreen;
}

.drawflow .main-path {
  fill: none;
  stroke-width: 5px;
  stroke: steelblue;
}

.drawflow-node-block {
  line-height: 35px;
  border-bottom: 1px solid var(--border-color);
  padding: 0 5px;
  cursor: move;
  user-select: none;
}

.drawflow-additional {
  float: right;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  background-color: #ddd;
  font-weight: bold;
  z-index: 10;
}

.drawflow-additional .drawflow-additional-button {
  background-color: #333;
  color: #fff;
  border-radius: 4px;
}

.drawflow-zoom {
  float: right;
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 5px 10px;
  background-color: #ddd;
  font-weight: bold;
  z-index: 10;
}

.drawflow-zoom-button {
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  padding: 3px 10px;
}

.drawflow-node-block-default {
  display: inline-block;
  padding: 10px 15px;
  position: absolute;
  border: 1px solid black;
  display: flex;
  align-items: center;
  z-index: 20;
}

.drawflow-node-block-default {
  background-color: lightgray;
}

.drawflow-node-block-single,
.drawflow-node-block-threshold {
  border-radius: 50%;
  background-color: lightcyan;
}

.drawflow-node-block span {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  word-break: break-all;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.drawflow-delete {
  position: absolute;
  top: -15px;
  right: -10px;
  display: block;
  width: 25px;
  height: 25px;
  border: 0;
  border-radius: 50%;
  line-height: 25px;
  font-weight: bold;
  text-align: center;
  outline: none;
}

.drawflow-modal-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.drawflow-modal-container:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.drawflow-modal-container > .drawflow-modal-content {
  display: inline-block;
  width: 500px;
  height: 400px;
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
}

.drawflow-modal-content {
  padding: 15px;
}

.drawflow-modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  line-height: 20px;
  border: 1px solid black;
  background-color: lightgray;
}

.drawflow-modal-close:hover {
  background-color: gray;
}

.drawflow-modal-header {
  text-align: center;
  margin-bottom: 10px;
}
